<link rel="stylesheet" href="/css/header.css">
<nav class="header">
  <div class="header-container">
    <div class="navbar">
      <a href="/"><img src="/img/Legion.gif" alt="Logo" class="logo"></a>
      <button class="menu-button" onclick="toggleMenu()">
        <i id="menuIcon" class="fa-solid fa-bars"></i>
    </button>
      <div class="legion-buttons">
        <a href="/music">Müzikler</a>
        <a href="/about">Hakkında</a>
        <a href="/contact">İletişim</a>
      </div>
    </div>
  </div>
</nav>
<script src="/js/menu.js"></script>