<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkında - Legion</title>
  <link rel="stylesheet" href="https://atugatran.github.io/FontAwesome6Pro/css/all.min.css">
  <link rel="stylesheet" href="/css/about.css">
    <link rel="icon" type="image/png" href="/img/logov.png">
</head>
<body>
    <%- include('includes/header') %>
    <div class="content">
        <div class="info-card">
            <div class="logo-circle">
                <img src="/img/Logov.png" alt="Legion Logo">
            </div>
            <div class="info-text">
                <h2>LEGION KİMDİR?</h2>
                <p>2005 Ankara doğumlu olan Legion, müzikle ilgilenmeye 14 yaşında başlamış ve bu alandaki ilgisini zamanla bir tutkuya dönüştürmüştür. Çeşitli tarzları keşfederek müzik dünyasında kendine bir yol çizmiştir.</p>
                <p>İşbirlikeri için İletişim: prodlegion06@gmail.com</p>
            </div>
        </div>
    </div>
    
    <%- include('includes/scroll-button') %>
    <footer>
        <p>© 2025 Legion - All Rights Reserved</p>
    </footer>
</body>
</html>