<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim - Legion</title>
    <link rel="stylesheet" href="https://atugatran.github.io/FontAwesome6Pro/css/all.min.css">
    <link rel="icon" type="image/png" href="/img/logov.png">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <section class="social-media">
            <p class="h1">Sosyal Medya Hesaplarım</p>
            <p class="desc">Medya Hesaplarım Hemen Burada</p>
            <div class="social-icons">
                <div class="social-icon">
                    <img src="/img/youtube.png" alt="Youtube">
                    <div class="dropdown-menu">Youtube</div>
                </div>
                <div class="social-icon">
                    <img src="/img/spotifycon.png" alt="Spotify">
                    <div class="dropdown-menu">Spotify</div>
                </div>
                <div class="social-icon">
                    <img src="/img/instagram.png" alt="Instagram">
                    <div class="dropdown-menu">Instagram</div>
                </div>
                <div class="social-icon">
                    <img src="/img/tiktok.png" alt="TikTok">
                    <div class="dropdown-menu">TikTok</div>
                </div>
                <div class="social-icon">
                    <img src="/img/applemusic.png" alt="Apple Music">
                    <div class="dropdown-menu">Apple Music</div>
                </div>
            </div>
        </section>
    </main>
    <%- include('includes/footer') %>
    <script src="/js/contact.js"></script>

</body>
</html>
